{
  "SLACK_BOT_TOKEN": "xoxb-___________-_____________-________________________",
  "SLACK_APP_TOKEN": "xapp-_-___________-_____________-________________________________________________________________",
  "tidyhq_token": ""
}
